<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/fragments/head :: head">
</head>

<body class="sb-nav-fixed">
	<!-- nav -->
	<div th:replace="admin/fragments/nav :: navVendor"></div>
	<!-- nav -->
	<div id="layoutSidenav">
		<!-- sidebar -->
		<div th:replace="admin/fragments/sidebar :: sidebarVendor"></div>
		<!-- sidebar -->
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">			
					<h1 class="mt-4">Quản lý bên mua hàng</h1>
					<div class="breadcrumb mb-4">
						<table class="table mt-5">
							<thead class="thead-dark">
								<tr>
									<th class="text-center">ID</th>
									<th class="text-center">Tên</th>
									<th class="text-center">Giới tính</th>	
									<th class="text-center">Địa chỉ</th>
									<th class="text-center">Email</th>
									<th class="text-center">Số điện thoại</th>							
									<th class="text-center">Ảnh đại diện</th>														
								</tr>
							</thead>
							<tbody>
								<tr th:each="seller : ${ListSeller}">
									<th class="text-center" th:text="${seller.id}" ></th>
									<td class="text-center" th:text="${seller.userName}"></td>	
									<td class="text-center" th:text="${seller.gender}"></td>	
									<td class="text-center" th:text="${seller.address}"></td>	
									<td class="text-center" th:text="${seller.email}"></td>	
									<td class="text-center" th:text="${seller.phone}"></td>
									<td class="text-center">
										<img  width="150px" alt="ảnh bìa">								
									</td>														
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</main>
		</div>
	</div>

	<script th:src="@{/vendor/js/category.js}"></script>

	<div th:replace="admin/fragments/script :: script"></div>

	<script th:src="@{/vendor/js/books.js}"></script>
</body>

</html>