<table class="table">
	<thead class="thead-dark">
		<tr>
			
			
			<th class="text-center">Tên shop</th>
			<th class="text-center">Địa chỉ</th>
			<th class="text-center">Số điện thoại</th>
			<th class="text-center">Email</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="text-center" th:text="${shop.name}">1</td>
			<td class="text-center" th:text="${shop.address}">1</td>
			<td class="text-center" th:text="${shop.phone}">1</td>
			<td class="text-center" th:text="${shop.email}">1</td>
					
		</tr>
	</tbody>
</table>