<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/fragments/head :: head">
</head>

<body class="sb-nav-fixed">
	<!-- nav -->
	<div th:replace="admin/fragments/nav :: navVendor"></div>
	<!-- nav -->
	<div id="layoutSidenav">
		<!-- sidebar -->
		<div th:replace="admin/fragments/sidebar :: sidebarVendor"></div>
		<!-- sidebar -->
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Thông tin hóa đơn</h1>
					<div class="breadcrumb mb-4">
						<table class="table mt-5">
							<thead class="thead-dark">
								<tr>
									<th class="text-center">ID hóa đơn</th>
									<th class="text-center">Khách hàng</th>
									<th class="text-center">Sản phẩm x Số lượng x Shop</th>
									<th class="text-center">Thành tiền</th>
									<th class="text-center">Hoa hồng</th>

								</tr>
							</thead>
							<tbody>
								<tr th:each="order : ${ListOrder}">
									<th class="text-center" th:text="${order.id}"></th>
									<td class="text-center" th:text="${order.customerName}"></td>

									<td class="text-center">
										<div class="row" th:each="orderDetail : ${order.orderDetails}">
											<!-- Tạo 3 hàng trong 1 ô -->
											<div>
												<span th:text="${orderDetail.product.name}"></span>
												xxx
												<span th:text="${orderDetail.quantity}"></span>
												xxx
												<strong th:text="${orderDetail.product.userProduct.userName}"></strong>
											</div>
										</div>
									</td>
									<td class="text-center">
										<span class="total"
											th:text="${#numbers.formatDecimal(order.totalAmount, 0, 'POINT', 0, 'COMMA')}"></span>
									</td>
									<td class="text-center">
										<span class="total"
											th:text="${#numbers.formatDecimal(order.commission, 0, 'POINT', 0, 'COMMA')}"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</main>
		</div>
	</div>

	<script th:src="@{/vendor/js/category.js}"></script>

	<div th:replace="admin/fragments/script :: script"></div>

	<script th:src="@{/vendor/js/books.js}"></script>
</body>

</html>