<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/fragments/head :: head">
</head>

<body class="sb-nav-fixed">
	<!-- nav -->
	<div th:replace="admin/fragments/nav :: navVendor"></div>
	<!-- nav -->
	<div id="layoutSidenav">
		<!-- sidebar -->
		<div th:replace="admin/fragments/sidebar :: sidebarVendor"></div>
		<!-- sidebar -->
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">			
					<h1 class="mt-4">Thông tin khách hàng</h1>
					<div class="breadcrumb mb-4">
						<table class="table mt-5">
							<thead class="thead-dark">
								<tr>
									<th class="text-center">ID</th>
									<th class="text-center">Tên</th>		
									<th class="text-center">Địa chỉ</th>
									<th class="text-center">Email</th>
									<th class="text-center">Số điện thoại</th>	
									<th class="text-center">Trạng thái</th>							
									<th class="text-center">Thao tác</th>													
								</tr>
							</thead>
							<tbody>
								<tr th:each="shop : ${shop}">
									<th class="text-center" th:text="${shop.id}" ></th>
									<td class="text-center" th:text="${shop.userName}"></td>									
									<td class="text-center" th:text="${shop.address}"></td>	
									<td class="text-center" th:text="${shop.email}"></td>	
									<td class="text-center" th:text="${shop.phone}"></td>
									<td class="text-center" th:text="${shop.status}"></td>
									<td class="text-center">
										<a href="" class="btn btn-success">Khóa</a>
										<a th:href="@{/admin/delete-shop/{id}(id=${shop.id})}" onclick="return confirm('Bạn có chắc chắn không?')" class="btn btn-danger">Xóa</a>
									 </td>															
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</main>
		</div>
	</div>

	<script th:src="@{/vendor/js/category.js}"></script>

	<div th:replace="admin/fragments/script :: script"></div>

	<script th:src="@{/vendor/js/books.js}"></script>
</body>

</html>