<!DOCTYPE html>
<html>

<head th:replace="web/fragments/head :: head"></head>

<body>
	<!--header area start-->
	<div th:replace="web/fragments/header :: header2"></div>
	<!--header area end-->

	<!--breadcrumbs area start-->
	<div class="breadcrumbs_area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumb_content">
						<ul>
							<li><a href="index.html">Trang chủ</a></li>
							<li>Giỏ hàng</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs area end-->

	<!--shopping cart area start -->
	<div class="shopping_cart_area">
		<div class="container">
			<form action="#">
				<div class="row">
					<div class="col-12">
						<div class="table_desc">
							<div class="cart_page table-responsive">
								<table>
									<thead>
										<tr>
											<th class="product_remove">Hủy</th>
											<th class="product_thumb">Ảnh</th>
											<th class="product_name">SẢn phẩm</th>
											<th class="product-price">Giá</th>
											<th class="product_quantity">Số lượng</th>
											<th class="product_total">Tổng</th>
										</tr>
									</thead>
									<tbody th:each="cart : ${listCart}">
										<tr>
											<td class="product_remove"><a th:href="@{/delete-cart/{id}(id=${cart.id})}"
													onclick="return confirm('Bạn có chắc chắn không?')"><i
														class="fa fa-trash-o"></i></a>
											</td>
											<td class="product_thumb"><a href="#"><img
														th:src="@{'/uploads/'+${cart.product.image1}}"
														alt="ảnh bìa"></a>
											</td>
											<td class="product_name"><a href="#" th:text="${cart.product.name}"></a>
											</td>
											<td class="product-price">
												<span
													th:text="${#strings.concat( #numbers.formatDecimal(cart.product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
											</td>

											<td class="product_quantity"><label>Quantity</label> <input min="1"
													max="100" th:value="${cart.quantity}" type="number"></td>
											<td class="product_total">
												<span class="total"
													
													th:text="${#strings.concat( #numbers.formatDecimal(cart.total, 0, 'POINT', 0, 'COMMA'),'₫')}"
													></span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="cart_submit">
								<button type="submit">update cart</button>
							</div>
						</div>
					</div>
				</div>
				<!-- coupon code area start-->
				<div class="coupon_area">
					<div class="row">
						<div class="col-lg-6 col-md-6">
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="coupon_code right">
								<h3>Tính tổng</h3>
								<div class="coupon_inner">
									<div class="cart_subtotal">
										<p>Thành tiền</p>
										<p class="current_price" style="font-size: 18px; margin-right: 30px;"
											
											th:text="${#strings.concat( #numbers.formatDecimal(totalCart, 0, 'POINT', 0, 'COMMA'),'₫')}"
											></p>
									</div>
									<!--<div class="cart_subtotal ">
										<p>Phí ship</p>
										<p class="cart_amount ">
											<span>Nhanh</span> 
											<span class="current_price"
											th:text="${#numbers.formatDecimal(25000, 0, 'POINT', 0, 'COMMA')}"></span>
										</p>
									</div>

									<div class="cart_subtotal">
										<p>Tổng</p>
										<p class="cart_amount">
											<span class="current_price" style="font-size: 18px; margin-right: 30px;"
											th:text="${#numbers.formatDecimal(totalValue, 0, 'POINT', 0, 'COMMA')}"></span>
										</p>
									</div>-->
									<div class="checkout_btn">
										<a th:href="@{/checkout}">Tiến hành thanh toán</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--coupon code area end -->
			</form>
		</div>
	</div>
	<!--shopping cart area end -->

	<!--footer area start-->
	<footer th:replace="web/fragments/footer :: footer"></footer>
	<!--footer area end-->


	<!-- JS
============================================ -->
	<div th:replace="web/fragments/script :: script"></div>
	<!-- JS
============================================ -->


</body>

</html>