<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="web/fragments/head :: head"></head>

<body>

	<div th:replace="web/fragments/header :: header1"></div>

	<!--slider area start-->



	<section class="slider_section slider_s_three">
		<div class="slider_area owl-carousel">
			<div class="single_slider d-flex align-items-center"
				th:data-bgimg="@{/assets/img/slider/mau-banner-tinh-te.jpg }">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="slider_content slider_c_three">
								<h1>Uy tín - Chất lượng
								</h1>
								<h2>Mọi thứ bạn cần</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="single_slider d-flex align-items-center"
				th:data-bgimg="@{/assets/img/slider/mau-banner-online-tre-em.jpg}">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="slider_content slider_c_three">
								<h1>Uy tín - Chất lượng</h1>
								<h2>Mọi thứ bạn cần</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--slider area end-->
	<!--categories product area start-->
	<div class="categories_product_aera mb-95">
		<div class="container-fluid">
			<div class="row">
				<div class="categories_container categories_column6 owl-carousel">
					<div class="col-lg-2" th:each="category : ${category}">
						<div class="single_categories">
							<div class="categories_product_thumb">
								<a th:href="@{/category/{id}(id=${category.id})}"><img
										th:src="@{'/uploads/'+${category.image1}}" height="10px" width="10px" alt="">
								</a>
							</div>
							<div class="categories_product_text">
								<h3>
									<a href="#" th:text="${category.name}"></a>
								</h3>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--product area start-->
	<div class="product_area  mb-100">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_title">
						<h2>Tìm kiếm hàng đầu</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="product_carousel product_column4 owl-carousel">
					<div class="col-lg-3" th:each="product : ${product}">
						<article class="single_product">
							<figure>
								<div class="product_thumb">
									<a class="primary_img" th:href="@{/product-details/{id}(id=${product.id})}">
										<img th:src="@{'/uploads/'+${product.image1}}" alt="ảnh bìa">
									</a> <a class="secondary_img" th:href="@{/product-details/{id}(id=${product.id})}">
										<img th:src="@{'/uploads/'+${product.image2}}" alt="ảnh bìa">
									</a>
								</div>
								<figcaption class="product_content">
									<h4 class="product_name">
										<a href="@{/product-details}" th:text="${product.name}"></a>
									</h4>

									<div class="price_box">
										<span class="old_price"
											th:text="${#strings.concat( #numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
										<span class="current_price"
											th:text="${#strings.concat( #numbers.formatDecimal(product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
									</div>
									<div class="add_to_cart">
										<a id="addToCartLink" href="#" data-product-id="${product.id}">+
											thêm vào giỏ hàng</a>
									</div>
								</figcaption>
							</figure>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--product area end-->


	<div class="product_area  mb-100">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="product_header">
						<div class="section_title">
							<h2>Gợi ý hôm nay</h2>
						</div>
						<div class="product_tab_btn">
							<ul class="nav" role="tablist">
								<li><a class="active" data-bs-toggle="tab" href="#thoitrangnam" role="tab"
										aria-controls="thoitrangnam" aria-selected="true">
										Thời trang nam</a></li>
								<li><a data-bs-toggle="tab" href="#thoitrangnu" role="tab" aria-controls="thoitrangnu"
										aria-selected="false"> Thời trang nữ </a></li>
								<li><a data-bs-toggle="tab" href="#bachhoa" role="tab" aria-controls="bachhoa"
										aria-selected="false"> Bách hóa </a>
								</li>
								<li><a data-bs-toggle="tab" href="#doisong" role="tab" aria-controls="doisong"
										aria-selected="false"> Đời sống </a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="product_container">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="thoitrangnam" role="tabpanel">
						<div class="row">
							<div class="product_carousel product_column4 owl-carousel">
								<div class="col-lg-3" th:each="product : ${product1}">
									<div class="product_items">
										<article class="single_product">
											<figure>
												<div class="product_thumb">
													<a class="primary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image1}}" alt="ảnh bìa">
													</a> <a class="secondary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image2}}" alt="ảnh bìa">
													</a>
												</div>
												<figcaption class="product_content">
													<h4 class="product_name">
														<a href="@{/product-details}" th:text="${product.name}"></a>
													</h4>
													<div class="price_box">
														<span class="old_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
														<span class="current_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
													</div>
													<div class="add_to_cart">
														<a id="addToCartLink" href="#" data-product-id="${product.id}">+
															thêm vào giỏ hàng</a>
													</div>
												</figcaption>
											</figure>
										</article>
										<article class="single_product">
											<figure>
												<div class="product_thumb">
													<a class="primary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image1}}" alt="ảnh bìa">
													</a> <a class="secondary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image2}}" alt="ảnh bìa">
													</a>
												</div>
												<figcaption class="product_content">
													<h4 class="product_name">
														<a href="@{/product-details}" th:text="${product.name}"></a>
													</h4>
													<div class="price_box">
														<span class="old_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
														<span class="current_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
													</div>
													<div class="add_to_cart">
														<a id="addToCartLink" href="#" data-product-id="${product.id}">+
															thêm vào giỏ hàng</a>
													</div>
												</figcaption>
											</figure>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="thoitrangnu" role="tabpanel">
						<div class="row">
							<div class="product_carousel product_column4 owl-carousel">
								<div class="col-lg-3" th:each="product : ${product2}">
									<div class="product_items">
										<article class="single_product">
											<figure>
												<div class="product_thumb">
													<a class="primary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image1}}" alt="ảnh bìa">
													</a> <a class="secondary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image2}}" alt="ảnh bìa">
													</a>
												</div>
												<figcaption class="product_content">
													<h4 class="product_name">
														<a href="@{/product-details}" th:text="${product.name}"></a>
													</h4>
													<div class="price_box">
														<span class="old_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
														<span class="current_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
													</div>
													<div class="add_to_cart">
														<a id="addToCartLink" href="#" data-product-id="${product.id}">+
															thêm vào giỏ hàng</a>
													</div>
												</figcaption>
											</figure>
										</article>
										<article class="single_product">
											<figure>
												<div class="product_thumb">
													<a class="primary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image1}}" alt="ảnh bìa">
													</a> <a class="secondary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image2}}" alt="ảnh bìa">
													</a>
												</div>
												<figcaption class="product_content">
													<h4 class="product_name">
														<a href="@{/product-details}" th:text="${product.name}"></a>
													</h4>
													<div class="price_box">
														<span class="old_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
														<span class="current_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
													</div>
													<div class="add_to_cart">
														<a id="addToCartLink" href="#" data-product-id="${product.id}">+
															thêm vào giỏ hàng</a>
													</div>
												</figcaption>
											</figure>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="bachhoa" role="tabpanel">
						<div class="row">
							<div class="product_carousel product_column4 owl-carousel">
								<div class="col-lg-3" th:each="product : ${product3}">
									<div class="product_items">
										<article class="single_product">
											<figure>
												<div class="product_thumb">
													<a class="primary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image1}}" alt="ảnh bìa">
													</a> <a class="secondary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image2}}" alt="ảnh bìa">
													</a>

												</div>
												<figcaption class="product_content">
													<h4 class="product_name">
														<a href="@{/product-details}" th:text="${product.name}"></a>
													</h4>
													<div class="price_box">
														<span class="old_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
														<span class="current_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
													</div>
													<div class="add_to_cart">
														<a id="addToCartLink" href="#" data-product-id="${product.id}">+
															thêm vào giỏ hàng</a>
													</div>
												</figcaption>
											</figure>
										</article>
										<article class="single_product">
											<figure>
												<div class="product_thumb">
													<a class="primary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image1}}" alt="ảnh bìa">
													</a> <a class="secondary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image2}}" alt="ảnh bìa">
													</a>

												</div>
												<figcaption class="product_content">
													<h4 class="product_name">
														<a href="@{/product-details}" th:text="${product.name}"></a>
													</h4>
													<div class="price_box">
														<span class="old_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
														<span class="current_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
													</div>
													<div class="add_to_cart">
														<a id="addToCartLink" href="#" data-product-id="${product.id}">+
															thêm vào giỏ hàng</a>
													</div>
												</figcaption>
											</figure>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="doisong" role="tabpanel">
						<div class="row">
							<div class="product_carousel product_column4 owl-carousel">
								<div class="col-lg-3" th:each="product : ${product4}">
									<div class="product_items">
										<article class="single_product">
											<figure>
												<div class="product_thumb">
													<a class="primary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image1}}" alt="ảnh bìa">
													</a> <a class="secondary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image2}}" alt="ảnh bìa">
													</a>

												</div>
												<figcaption class="product_content">
													<h4 class="product_name">
														<a href="@{/product-details}" th:text="${product.name}"></a>
													</h4>
													<div class="price_box">
														<span class="old_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
														<span class="current_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
													</div>
													<div class="add_to_cart">
														<a id="addToCartLink" href="#" data-product-id="${product.id}">+
															thêm vào giỏ hàng</a>
													</div>
												</figcaption>
											</figure>
										</article>
										<article class="single_product">
											<figure>
												<div class="product_thumb">
													<a class="primary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image1}}" alt="ảnh bìa">
													</a> <a class="secondary_img"
														th:href="@{/product-details/{id}(id=${product.id})}">
														<img th:src="@{'/uploads/'+${product.image2}}" alt="ảnh bìa">
													</a>

												</div>
												<figcaption class="product_content">
													<h4 class="product_name">
														<a href="@{/product-details}" th:text="${product.name}"></a>
													</h4>
													<div class="price_box">
														<span class="old_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
														<span class="current_price"
															th:text="${#strings.concat( #numbers.formatDecimal(product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
													</div>
													<div class="add_to_cart">
														<a id="addToCartLink" href="#" data-product-id="${product.id}">+
															thêm vào giỏ hàng</a>
													</div>
												</figcaption>
											</figure>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--product area end-->



	<!--footer area start-->
	<footer th:replace="web/fragments/footer :: footer"></footer>
	<!--footer area end-->

	<!-- JS -->
	<div th:replace="web/fragments/script :: script"></div>

	

</body>

</html>