<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="web/fragments/head :: head"></head>

<body>
	<!--header area start-->
	<div th:replace="web/fragments/header :: header2"></div>
	<!--header area end-->

	<!--breadcrumbs area start-->
	<div class="breadcrumbs_area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumb_content">
						<ul>
							<li><a href="">Trang chủ</a></li>
							<li>Đăng nhập</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs area end-->

	<!-- customer login start -->
	<div class="customer_login">
		<div class="container">
			<div class="row">
				<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
					<p th:text="${errorMessage}"></p>
				</div>
				<div th:if="${successMessage}" class="alert alert-success" role="alert">
					<p th:text="${successMessage}"></p>
				</div>
				<div th:if="${message}" class="alert alert-success" role="alert">
					<p th:text="${message}"></p>
				</div>
				<div th:if="${param.error}">
					<div class="alert alert-danger" role="alert">
					<p>Tài khoản hoặc mật khẩu không chính xác. Vui lòng kiểm tra lại!!!</p>
				</div>
				</div>
				<!--login area start-->
				<div class="col-lg-6 col-md-6">
					<div class="account_form">
						<h2>Đăng nhập</h2>
						<form th:action="@{/login}" method="post">
							<p>
								<label>Tên người dùng<span>*</span></label>
								<input type="text" name="username">
							</p>
							<p>
								<label>Mật khẩu<span>*</span></label>
								<input type="password" name="password">
							</p>
							<div class="login_submit">
								<a href="#">Quên mật khẩu</a>
								<label for="remember">
									<input id="remember" type="checkbox">
									Lưu tài khoản
								</label>
								<button type="submit">Đăng nhập</button>
							</div>
						</form>
					</div>
				</div>
				<!--login area start-->

				<!--register area start-->
				<div class="col-lg-6 col-md-6">
					<div class="account_form register">
						<h2>Đăng ký</h2>
						<form class="form-horizontal row" role="form" method="post" th:action="@{/add-account}"
							onsubmit="return validateRegistrationForm()" name="registrationForm">

							<p>
								<label>Tên người dùng<span>*</span></label>
								<input type="text" name="userName">
							</p>
							<!--<p>
								<label>Email<span>*</span></label>
								<input type="email" name="email" >
							</p>-->
							<p>
								<label>Mật khẩu<span>*</span></label>
								<input type="password" name="password">
							</p>
							<div class="login_submit">
								<button type="submit">Đăng ký</button>
							</div>
						</form>
					</div>
				</div>
				<!--register area end-->
			</div>
		</div>
	</div>
	<!-- customer login end -->

	<!--footer area start-->
	<footer th:replace=" web/fragments/footer :: footer">
	</footer>
	<!--footer area end-->


	<!-- JS
============================================ -->


	<div th:replace="web/fragments/script :: script"></div>
	<script>
		function validateRegistrationForm() {
			// Lấy giá trị từ các trường input
			var userName = document.forms["registrationForm"]["userName"].value;
			var password = document.forms["registrationForm"]["password"].value;

			// Kiểm tra xem các trường có được nhập đầy đủ không
			if (userName === "" || password === "") {
				alert("Vui lòng nhập đầy đủ thông tin");
				return false;
			}

			// Các điều kiện kiểm tra khác có thể được thêm vào ở đây

			return true;
		}
	</script>

</body>

</html>