<!DOCTYPE html>
<html>

<head th:replace="web/fragments/head :: head"></head>

<body>

	<!--header area start-->
	<div th:replace="web/fragments/header :: header2"></div>
	<!--header area end-->

	<!--breadcrumbs area start-->
	<div class="breadcrumbs_area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumb_content">
						<ul>
							<li><a href="#">Trang chủ</a></li>
							<li>Tài khoản</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs area end-->

	<!-- my account start  -->
	<section class="main_content_area">
		<div class="container">
			<div class="account_dashboard">
				<div class="row">
					<div class="col-sm-12 col-md-3 col-lg-3">
						<!-- Nav tabs -->
						<div class="dashboard_tab_button">
							<ul role="tablist" class="nav flex-column dashboard-list">
								<li><a href="#account-details" id="infor" data-bs-toggle="tab"
										class="nav-link active">Sửa thông
										tin</a>
								</li>
								<li> <a href="#orders" data-bs-toggle="tab" class="nav-link ">Đơn hàng</a></li>
								<li> <a href="#password" data-bs-toggle="tab" id="changePass" class="nav-link ">Đổi mật
										khẩu</a></li>
								

								<li><a th:href="@{/process-logout}" class="nav-link">Đăng xuất</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-12 col-md-9 col-lg-9">
						<!-- Tab panes -->
						<div class="tab-content dashboard_content">

									
							<div class="tab-pane" id="password">
								<div th:if="${message}"
									th:class="${message == 'Đổi mật khẩu thành công'} ? 'alert alert-success' : 'alert alert-danger'"
									th:text="${message}"></div>
								<h3>Đổi mật khẩu</h3>
								<hr>
								<form class="form-horizontal" id="formChangePassword" role="form" method="post"
									th:action="@{/edit-password}">
									<div class="form-group">
										<label class="col-md-3 control-label">Mật khẩu hiện tại</label>
										<div class="col-md-8">
											<input id="passwordInput" class="form-control" type="password"
												name="password">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Mật khẩu mới</label>
										<div class="col-md-8">
											<input id="passwordNewInput" class="form-control" type="password"
												name="passwordNew">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Nhập lại mật khẩu mới</label>
										<div class="col-md-8">
											<input id="confirmPasswordNewInput" class="form-control" type="password"
												name="confirmPasswordNew">
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label"></label>
										<div class="col-md-8">
											<button type="submit" class="btn btn-success ">Cập
												nhật</button>
										</div>
									</div>

								</form>
							</div>

							<div class="tab-pane fade" id="orders">
								<h3>Đơn hàng</h3>
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th>Đơn hàng</th>
												<!--<th>Trạng thái</th>-->
												<th>Tổng</th>
												<th>Xem</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="order : ${listOrder}">
												<td th:text="${order.id}"></td>
												<!--<td><span class="success" th:text="${order.status}">Completed</span>-->
												</td>
												<td>
													<span class="current_price"
															th:text="${#numbers.formatDecimal(order.totalAmount, 0, 'POINT', 0, 'COMMA')}"></span>
												</td>
												<td><a th:href="@{/order}" class="view">view</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="tab-pane fade show active" id="account-details">
								<div class="container">
									<h3>Sửa thông tin</h3>
									<hr>
									<form class="form-horizontal row" role="form" method="post"
										enctype="multipart/form-data" th:action="@{/edit-account}">

										<!-- left column -->
										<div class="col-md-3">
											<div class="text-center">
												<img th:src="@{'/uploads/'+${user.avatar}}" class="avatar img-circle"
													alt="avatar">
												<h6>Avatar</h6>
												<input type="file" class="form-control" name="avatar">
											</div>
										</div>

										<!-- edit form column -->
										<div class="col-md-9 personal-info">
											<h4>Thông tin</h4>
											<input type="hidden" class="form-control mt-1">

											<div class=" form-group">
												<label class="col-lg-3 control-label">Tên</label>
												<div class="col-lg-8">
													<input class="form-control" type="text" th:value="${user.name}"
														name="name">
												</div>
											</div>

											<div class="form-group">
												<label class="col-lg-3 control-label">Địa chỉ</label>
												<div class="col-lg-8">
													<input class="form-control" type="text" th:value="${user.address}"
														name="address">
												</div>
											</div>

											<div class="form-group">
												<label class="col-lg-3 control-label">Email</label>
												<div class="col-lg-8">
													<input class="form-control" type="email" th:value="${user.email}"
														name="email" </div>
												</div>

												<div class="form-group">
													<label class="col-lg-3 control-label">Số điện thoại</label>
													<div class="col-lg-8">
														<input class="form-control" type="text" th:value="${user.phone}"
															name="phone">
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label"></label>
													<div class="col-md-8">
														<button type="submit" class="btn btn-success ">Cập
															nhật</button>
													</div>
												</div>

											</div>
									</form>
								</div>
								<hr>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!-- my account end   -->

	<!--footer area start-->
	<footer th:replace="web/fragments/footer :: footer"></footer>
	<!--footer area end-->

	<script th:inline="javascript">
		/*<![CDATA[*/
		document.addEventListener("DOMContentLoaded", function () {
			var message = /*[[${message}]]*/ null;

			if (message) {
				var accountDetailsTab = document.getElementById('account-details');
				accountDetailsTab.classList.remove('show', 'active');

				var passwordTab = document.getElementById('password');
				passwordTab.classList.add('show', 'active');

				
				var changePassTab = document.getElementById('changePass');
				changePassTab.classList.add('active');

				var inforTab = document.getElementById('infor');
				inforTab.classList.remove('active');
			}

			var form = document.getElementById('formChangePassword');

			form.addEventListener('submit', function (event) {
				if (!validateForm()) {
					event.preventDefault();
				}
			});

			function validateForm() {
				var confirmPasswordNew = document.getElementById('confirmPasswordNewInput').value;
				var passwordNew = document.getElementById('passwordNewInput').value;
				var password = document.getElementById('passwordInput').value;

				if (confirmPasswordNew === '' || passwordNew === '' || password === '') {
					alert('Vui lòng nhập đầy đủ thông tin.');
					return false;
				}

				return true;
			}
		});
    /*]]>*/
	</script>
	<!-- JS
============================================ -->
	<div th:replace="web/fragments/script :: script"></div>
	<!-- JS
============================================ -->


</body>

</html>