<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="web/fragments/head :: head"></head>

<body>
	<div th:replace="web/fragments/header :: header2"></div>

	<!--breadcrumbs area start-->
	<div class="breadcrumbs_area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumb_content">
						<ul>
							<li><a href="index.html">Trang chủ</a></li>
							<li>Đơn hàng</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs area end-->

	<div class="container ">
		<h3 class="mb-4">Đơn Hàng</h3>

		<!-- Tabs -->
		<ul class="nav nav-tabs" id="orderTabs">

			<li class="nav-item">
				<a class="nav-link active" id="ordered-tab" data-toggle="tab" href="#ordered">Đơn hàng</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="processing-tab" data-toggle="tab" href="#processing">Chuẩn bị hàng</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping">Đang giao</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="success-tab" data-toggle="tab" href="#success">Đã giao</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="canceled-tab" data-toggle="tab" href="#canceled">Đã Hủy</a>
			</li>
		</ul>

		<!-- Tab Content -->
		<div class="tab-content mt-3">

			<div class="tab-pane fade show active" id="ordered">
				<div class="shopping_cart_area">
					<div class="container">
						<form action="#">
							<div class="row">
								<div class="col-12">
									<div th:if="${#lists.isEmpty(ordersList)}" class="text-center">
										<div class="alert alert-info" role="alert">
											<h4 class="text-warning">Thông báo: Danh sách đang trống.</h4>
										</div>
									</div>
									<div th:unless="${#lists.isEmpty(ordersList)}">
										<div class="table_desc">
											<div class="cart_page table-responsive">
												<table>
													<thead>
														<tr>
															<th class="product_remove">Hủy</th>
															<th class="product_thumb">Ảnh</th>
															<th class="product_name">Sản phẩm</th>
															<th class="product-price">Giá</th>
															<th class="product_quantity">Số lượng</th>
															<th class="product_total">Tổng</th>
														</tr>
													</thead>
													<tbody th:each="order : ${ordersList}">
														<tr>
															<td class="product_remove cancel"><a th:sid="${order.id}"><i
																		class="fa fa-trash-o"></i></a>
															</td>
															<td class="product_thumb"><a href="#"><img
																		th:src="@{'/uploads/'+${order.product.image1}}"
																		alt="ảnh bìa"></a>
															</td>
															<td class="product_name"><a href="#"
																	th:text="${order.product.name}"></a>
															</td>
															<td class="product-price">
																<span
																	th:text="${#strings.concat( #numbers.formatDecimal(order.product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
															</td>
															<td class="product_quantity" th:text="${order.quantity}">
															</td>
															<td class="product_total">
																<span class="total"
																	th:text="${#strings.concat( #numbers.formatDecimal(order.product.discount * order.quantity, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="processing">
				<div class="shopping_cart_area">
					<div class="container">
						<form action="#">
							<div class="row">
								<div class="col-12">
									<div th:if="${#lists.isEmpty(orderProccessing)}" class="text-center">
										<div class="alert alert-info" role="alert">
											<h4 class="text-warning">Thông báo: Danh sách đang trống.</h4>
										</div>
									</div>
									<div th:unless="${#lists.isEmpty(orderProccessing)}">
										<div class="table_desc">
											<div class="cart_page table-responsive">

												<table>
													<thead>
														<tr>
															<th class="product_thumb">Ảnh</th>
															<th class="product_name">Sản phẩm</th>
															<th class="product-price">Giá</th>
															<th class="product_quantity">Số lượng</th>
															<th class="product_total">Tổng</th>
														</tr>
													</thead>
													<tbody th:each="order : ${orderProccessing}">
														<tr>
															<td class="product_thumb"><a href="#"><img
																		th:src="@{'/uploads/'+${order.product.image1}}"
																		alt="ảnh bìa"></a>
															</td>
															<td class="product_name"><a href="#"
																	th:text="${order.product.name}"></a>
															</td>
															<td class="product-price">
																<span
																	th:text="${#strings.concat( #numbers.formatDecimal(order.product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
															</td>
															<td class="product_quantity" th:text="${order.quantity}">
															</td>
															<td class="product_total">
																<span class="total"
																	th:text="${#strings.concat( #numbers.formatDecimal(order.product.discount * order.quantity, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
															</td>
														</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="shipping">
				<div class="shopping_cart_area">
					<div class="container">
						<form action="#">
							<div class="row">
								<div class="col-12">
									<div th:if="${#lists.isEmpty(orderShipping)}" class="text-center">
										<div class="alert alert-info" role="alert">
											<h4 class="text-warning">Thông báo: Danh sách đang trống.</h4>
										</div>
									</div>
									<div th:unless="${#lists.isEmpty(orderShipping)}">
										<div class="table_desc">
											<div class="cart_page table-responsive">
												<table>
													<thead>
														<tr>
															<th class="product_thumb">Ảnh</th>
															<th class="product_name">Sản phẩm</th>
															<th class="product-price">Giá</th>
															<th class="product_quantity">Số lượng</th>
															<th class="product_total">Tổng</th>
														</tr>
													</thead>
													<tbody th:each="order : ${orderShipping}">
														<tr>

															<td class="product_thumb"><a href="#"><img
																		th:src="@{'/uploads/'+${order.product.image1}}"
																		alt="ảnh bìa"></a>
															</td>
															<td class="product_name"><a href="#"
																	th:text="${order.product.name}"></a>
															</td>
															<td class="product-price">
																<span
																	th:text="${#strings.concat( #numbers.formatDecimal(order.product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
															</td>
															<td class="product_quantity" th:text="${order.quantity}">
															</td>
															<td class="product_total">
																<span class="total"
																	th:text="${#strings.concat( #numbers.formatDecimal(order.product.discount * order.quantity, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
															</td>
														</tr>
													</tbody>
												</table>

											</div>
										</div>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="success">
				<div class="shopping_cart_area">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div th:if="${#lists.isEmpty(orderConfirm)}" class="text-center">
									<div class="alert alert-info" role="alert">
										<h4 class="text-warning">Thông báo: Danh sách đang trống.</h4>
									</div>
								</div>
								<div th:unless="${#lists.isEmpty(orderConfirm)}">
									<div class="table_desc">
										<div class="cart_page table-responsive">
											<table>
												<thead>
													<tr>
														<th class="product_thumb">Ảnh</th>
														<th class="product_name">Sản phẩm</th>
														<th class="product-price">Giá</th>
														<th class="product_quantity">Số lượng</th>
														<th class="product_remove">Đơn hàng thành công</th>
													</tr>
												</thead>
												<tbody th:each="order : ${orderConfirm}">
													<!--<form method="post"
														th:action="@{/update-order/{id}(id=${order.id}, status=${order.status})}">-->
													<tr>
														<td class="product_thumb"><a href="#"><img
																	th:src="@{'/uploads/'+${order.product.image1}}"
																	alt="ảnh bìa"></a>
														</td>
														<td class="product_name"><a href="#"
																th:text="${order.product.name}"></a>
														</td>
														<td class="product-price">
															<span
																th:text="${#strings.concat( #numbers.formatDecimal(order.product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
														</td>
														<td class="product_quantity" th:text="${order.quantity}">
														</td>
														<td class="product_remove">
															<button type="button" class="btn btn-success add-review"
																th:idOrderDetails="${order.id}">Xác
																nhận</button>
														</td>
													</tr>
													<input type="hidden" class="productIdInput"
														th:value="${order.product.id}" />
													<!--</form>-->
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="canceled">
				<div class="shopping_cart_area">
					<div class="container">

						<div class="row">
							<div class="col-12">
								<div class="table_desc">
									<div class="cart_page table-responsive">
										<table>
											<thead>
												<tr>
													<th class="product_thumb">Ảnh</th>
													<th class="product_name">Sản phẩm</th>
													<th class="product-price">Giá</th>
													<th class="product_quantity">Số lượng</th>
													<th class="product_total">Thực hiện</th>
												</tr>
											</thead>
											<tbody th:each="order : ${orderCancelled}">
												<form role="form" method="post" th:action="@{/buy-again}">
													<input type="hidden" name="id" th:value="${order.product.id}">
													<input type="hidden" name="quantity" th:value="${order.quantity}">
													<input type="hidden" name="idOrderDetail" th:value="${order.id}">
													<tr>
														<td class="product_thumb"><a href="#"><img
																	th:src="@{'/uploads/'+${order.product.image1}}"
																	alt="ảnh bìa"></a>
														</td>
														<td class="product_name"><a href="#"
																th:text="${order.product.name}"></a>
														</td>
														<td class="product-price">
															<span
																th:text="${#strings.concat( #numbers.formatDecimal(order.product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
														</td>
														<td class="product_quantity" th:text="${order.quantity}"> </td>
														<td class="product_remove">
															<button type="submit" class="btn btn-success">Mua
																lại</button>
														</td>
													</tr>
												</form>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>





	<div class="modal" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel"
		aria-hidden="true">
		<!-- Nội dung modal -->
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="cartExistsModalLabel">Thông báo</h5>
				</div>
				<div class="modal-body">
					Bạn đã hủy sản phẩm
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"><a href="?refresh=1">OK</a></button>
				</div>
			</div>

		</div>
	</div>

	<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
		tabindex="-1">
		<div class="modal-dialog">
			<form>
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalToggleLabel">Đánh giá về sản phẩm</h5>
						<a href="order" class="btn-close btn-tab-success"></a>
					</div>
					<div class="modal-body">
						<textarea class="form-control border-0" id="reasonTextarea" rows="4"></textarea>
					</div>
					<div class="modal-footer">
						<a href="order" class="btn btn-primary btn-send-review btn-tab-success">Gửi</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Modal -->
	<div id="success_tic" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<a class="close" href="#" data-bs-dismiss="modal" aria-label="Close">&times;</a>
				<div class="page-body">
					<div class="head">
						<h3 style="margin-top:5px;">Xác nhận đơn hàng thành công</h3>
					</div>

					<h1 style="text-align:center;">
						<div class="checkmark-circle">
							<div class="background"></div>
							<div class="checkmark draw"></div>
						</div>
						<h1>
				</div>
			</div>
		</div>
	</div>


	<footer th:replace="web/fragments/footer :: footer"></footer>

	<!-- Thêm link đến Bootstrap và jQuery JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<div th:replace="web/fragments/script :: script"></div>

	<script th:inline="javascript">
		$(document).ready(function () {
			$(".cancel").on('click', function () {
				const id = $(this).find('a').attr('sid');
				$.ajax({
					url: "/cancel-order",
					method: "POST",
					data: {
						id: id,
					},
					success: function (dt) {
						if (dt === "cancelSuccess") {
							$('#cancelModal').modal('show');
						}
					},
					error: function (dt) {
						alert(dt)
					}
				});
			})

			$(".add-review").on('click', function () {
				const idOrderDetails = $(this).attr('idOrderDetails');
				$.ajax({
					type: "POST",
					url: "/update-order",
					data: {
						idOrderDetails: idOrderDetails
					},
					success: function (dt) {
						if (dt === "Success") {
							// Hiển thị modal success_tic
							$('#success_tic').modal('show');

							// Bắt sự kiện khi modal success_tic được đóng hoặc màn hình ngoài modal được nhấp
							$('#success_tic').on('hidden.bs.modal', function () {
								// Hiển thị modal exampleModalToggle khi modal success_tic được đóng
								$('#exampleModalToggle').modal('show');

								// Hủy bỏ sự kiện khi modal success_tic được đóng để tránh xung đột
								$('#success_tic').off('hidden.bs.modal');


							});
						}
					},
					error: function () {
						console.error(error);
					}
				});
			});


			// Bắt sự kiện khi người dùng nhập vào textarea
			$("#reasonTextarea").on('input', function () {
				// Kiểm tra xem nội dung của textarea có chứa ký tự nào khác dấu cách không
				const hasNonSpaceCharacter = $(this).val().trim() !== '';

				// Chọn nút "Gửi" và điều chỉnh trạng thái hiển thị dựa trên việc có ký tự hay không
				const sendButton = $('.modal-footer a');
				sendButton.toggleClass('d-none', !hasNonSpaceCharacter);
			});

			// Bắt sự kiện khi modal được mở
			$('#exampleModalToggle').on('show.bs.modal', function () {
				// Ẩn nút "Gửi" khi modal được mở
				$('.modal-footer a').addClass('d-none');

				// Xóa nội dung của textarea khi modal được mở
				$('#reasonTextarea').val('');
			});

			// Bắt sự kiện khi modal được đóng
			$('#exampleModalToggle').on('hidden.bs.modal', function () {
				// Ẩn nút "Gửi" khi modal được đóng
				$('.modal-footer a').addClass('d-none');
			});
			
			$(".btn-tab-success").on('click', function (event) {
				// Ngăn chặn hành động mặc định của liên kết
				event.preventDefault();

				// Lấy href của liên kết
				var href = $(this).attr("href");

				// Thêm tham số vào URL để xác định rằng trang nên mở tab "success"
				var newHref = href + "?tab=success";

				// Tải lại trang với URL đã cập nhật
				window.location.href = newHref;
			});

			// Kiểm tra nếu URL có chứa tham số "tab=success" thì chuyển đến tab "success"
			$(document).ready(function () {
				var urlParams = new URLSearchParams(window.location.search);
				if (urlParams.get('tab') === 'success') {
					// Chuyển đến tab "success"
					$('#success-tab').tab('show');
				}
			});
			$(".btn-send-review").on('click', function () {

				var reviewContent = $("#reasonTextarea").val();
				var productId = $(".productIdInput").val();

				<!--console.log(productId);-->
				$.ajax({
					type: "POST",
					url: "/order-review",
					data: {
						reviewContent: reviewContent,
						productId: productId 
					},
					success: function (response) {
						// Xử lý kết quả từ server nếu cần
						console.log(response);
					},
					error: function (error) {
						console.error(error);
					}
				});
			});
		});
	</script>



</body>


</html>