<!DOCTYPE html>
<html>

<head th:replace="web/fragments/head :: head"></head>

<body>

	<!--header area start-->
	<div th:replace="web/fragments/header :: header2"></div>
	<!--header area end-->

	<!--breadcrumbs area start-->
	<div class="breadcrumbs_area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumb_content">
						<ul>
							<li><a href="#">Trang chủ</a></li>
							<li>Chi tiết sản phẩm</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs area end-->

	<!--product details start-->
	<div class="product_details mb-60">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-5">
					<div class="product-details-tab">
						<div id="img-1" class="zoomWrapper single-zoom">
							<a href="#">
								<img id="zoom1" th:src="@{'/uploads/'+${product.image1}}" alt="ảnh bìa"
									th:data-zoom-image="@{'/uploads/'+${product.image1}}">
							</a>
						</div>
						<div class="single-zoom-thumb">
							<ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
								<li>
									<a href="#" class="elevatezoom-gallery active" data-update=""
										th:data-image="@{'/uploads/'+${product.image1}}"
										th:data-zoom-image="@{'/uploads/'+${product.image1}}">
										<img th:src="@{'/uploads/'+${product.image1}}" alt="zo-th-1" />
									</a>
								</li>
								<li>
									<a href="#" class="elevatezoom-gallery active" data-update=""
										th:data-image="@{'/uploads/'+${product.image2}}"
										th:data-zoom-image="@{'/uploads/'+${product.image2}}">
										<img th:src="@{'/uploads/'+${product.image2}}" alt="ảnh sản phẩm" />
									</a>
								</li>
								<li>
									<a href="#" class="elevatezoom-gallery active" data-update=""
										th:data-image="@{'/uploads/'+${product.image3}}"
										th:data-zoom-image="@{'/uploads/'+${product.image3}}">
										<img th:src="@{'/uploads/'+${product.image3}}" alt="zo-th-1" />
									</a>
								</li>
								<li>
									<a href="#" class="elevatezoom-gallery active" data-update=""
										th:data-image="@{'/uploads/'+${product.image4}}"
										th:data-zoom-image="@{'/uploads/'+${product.image4}}">
										<img th:src="@{'/uploads/'+${product.image4}}" alt="zo-th-1" />
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-7 col-md-7">
					<div class="product_d_right">
						<div class="productd_title_nav">
							<h1 th:text="${product.name}"></h1>
							<div class="product_nav">
								<ul>
									<a data-bs-toggle="modal" data-bs-target="#exampleModal">
										Tố cáo
									</a>
								</ul>
							</div>
						</div>

						<div class=" product_ratting">
							<ul>
								<li><a href="#"><i class="ion-android-star"></i></a></li>
								<li><a href="#"><i class="ion-android-star"></i></a></li>
								<li><a href="#"><i class="ion-android-star"></i></a></li>
								<li><a href="#"><i class="ion-android-star"></i></a></li>
								<li><a href="#"><i class="ion-android-star"></i></a></li>
								<!--<li class="review"><a href="#"> (customer review ) </a></li>-->
							</ul>
						</div>
						<div class="price_box">
							<span class="old_price"
								th:text="${#strings.concat( #numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
							<span class="current_price"
								th:text="${#strings.concat( #numbers.formatDecimal(product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
						</div>
						<div class="product_desc" th:utext="${product.shortDescription}">

						</div>

						<div class="product_variant quantity">
							<label>Số lượng</label>
							<input id="quantity" min="1" max="100" value="1" type="number">
							<button id="add-cart" th:sid="${product.id}" class="button">Thêm vào giỏ
								hàng</button>
						</div>
						<div class="product_meta">
							<span>Lượt bán <a th:text="${product.numberOfOrder}"></a></span>
						</div>
						<div class="product_meta">
							<span>Danh mục <a th:href="@{/category/{id}(id=${product.category.id})}"
									th:text="${product.category.name}"></a></span>
						</div>
						<div class="post_wrapper">
							<div class="post_thumb">
								<a href="blog-details.html"><img th:src="@{'/uploads/'+${product.userProduct.avatar}}"
										alt=""></a>
							</div>
							<div class="post_info">
								<a th:href="@{/seller/{id}(id=${product.userProduct.id})}"
									th:text="${product.userProduct.userName}"></a>
							</div>
						</div>

						<div class="priduct_social">
							<ul>
								<li><a class="facebook" href="#" title="facebook"><i class="fa fa-facebook"></i>
										Like</a></li>
								<li><a class="twitter" href="#" title="twitter"><i class="fa fa-twitter"></i>
										tweet</a>
								</li>
								<li><a class="pinterest" href="#" title="pinterest"><i class="fa fa-pinterest"></i>
										save</a></li>
								<li><a class="google-plus" href="#" title="google +"><i class="fa fa-google-plus"></i>
										share</a></li>
								<li><a class="linkedin" href="#" title="linkedin"><i class="fa fa-linkedin"></i>
										linked</a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--product details end-->

	<!--product info start-->
	<div class="product_d_info mb-57">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="product_d_inner">
						<div class="product_info_button">
							<ul class="nav" role="tablist">
								<li>
									<a class="active" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info"
										aria-selected="false">Miêu tả</a>
								</li>

								<li>
									<a data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"
										aria-selected="false">Đánh giá</a>
								</li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="info" role="tabpanel">
								<div class="product_info_content" th:utext="${product.description}">

								</div>
							</div>
							<div class="tab-pane fade" id="reviews" role="tabpanel">
								<div class="reviews_wrapper">
									<h2>Đánh giá</h2>
									<div class="reviews_comment_box" th:each="review : ${reviews}">
										<div class="comment_thmb">
											<img th:src="@{'/uploads/'+${review.user.avatar}}"
												style="width: 50px; height: 50px;" alt="avatar">
										</div>
										<div class="comment_text">
											<div class="reviews_meta">
												<div class="star_rating">
													<ul>
														<li><a href="#"><i class="ion-android-star"></i></a></li>
														<li><a href="#"><i class="ion-android-star"></i></a></li>
														<li><a href="#"><i class="ion-android-star"></i></a></li>
														<li><a href="#"><i class="ion-android-star"></i></a></li>
														<li><a href="#"><i class="ion-android-star"></i></a></li>
													</ul>
												</div>
												<p><strong th:text="${review.user.userName}"> </strong> <span
														th:text="${review.timestamp}"></span></p>
												<span th:text="${review.review}">roadthemes</span>
											</div>
										</div>

									</div>
									<div class="comment_title">
										<h2>Thêm đánh giá </h2>
									</div>
									<form role="form" method="post" th:action="@{/add-review}">
										<div class="product_ratting mb-10">
											<h3>Your rating</h3>
											<ul class="rating" id="star-rating">
												<li><a href="#" th:each="i : ${#numbers.sequence(1, 5)}"
														th:attr="data-value=${i}"><i class="ion-android-star"></i></a>
												</li>
											</ul>
											<!-- Thêm trường input rating -->

										</div>
										<div class="product_review_form">

											<div class=" row">
												<div class="col-12">
													<label for="review_comment">Đánh giá của bạn</label>
													<textarea name="comment" id="review_comment"></textarea>
												</div>
												<input type="hidden" th:value="${product.id}" name="idProduct">
											</div>
											<button type="submit">Gửi</button>

										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--product info end-->

	<!--product area start-->
	<section class="product_area related_products mb-57">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_title psec_title">
						<h2>Sản phẩm liên quan</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="product_carousel product_column4 owl-carousel">
					<div class="col-lg-3" th:each="products : ${listProduct}">
						<article class="single_product">
							<figure>
								<div class="product_thumb">
									<a class="primary_img" th:href="@{/product-details/{id}(id=${products.id})}">
										<img th:src="@{'/uploads/'+${products.image1}}" alt="ảnh bìa">
									</a> <a class="secondary_img" th:href="@{/product-details/{id}(id=${products.id})}">
										<img th:src="@{'/uploads/'+${products.image2}}" alt="ảnh bìa">
									</a>
								</div>
								<figcaption class="product_content">
									<h4 class="product_name">
										<a href="@{/product-details}" th:text="${products.name}"></a>
									</h4>
									<div class="price_box">
										<span class="old_price"
											 th:text="${#strings.concat( #numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
										<span class="current_price"
											th:text="${#strings.concat( #numbers.formatDecimal(product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
									</div>
									<div class="add_to_cart">
										<a href="#">+ thêm vào giỏ hàng</a>
									</div>
								</figcaption>
							</figure>
						</article>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--product area end-->

	<!--product area start-->
	<section class="product_area upsell_products mb-60">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_title psec_title">
						<h2>Gợi ý</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="product_carousel product_column4 owl-carousel">
					<div class="col-lg-3" th:each="products : ${productOfShop}">
						<article class="single_product">
							<figure>
								<div class="product_thumb">
									<a class="primary_img" th:href="@{/product-details/{id}(id=${products.id})}">
										<img th:src="@{'/uploads/'+${products.image1}}" alt="ảnh bìa">
									</a> <a class="secondary_img" th:href="@{/product-details/{id}(id=${products.id})}">
										<img th:src="@{'/uploads/'+${products.image2}}" alt="ảnh bìa">
									</a>
								</div>
								<figcaption class="product_content">
									<h4 class="product_name">
										<a href="@{/product-details}" th:text="${products.name}"></a>
									</h4>
									<div class="price_box">
										<span class="old_price"
											 th:text="${#strings.concat( #numbers.formatDecimal(product.price, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
										<span class="current_price"
											th:text="${#strings.concat( #numbers.formatDecimal(product.discount, 0, 'POINT', 0, 'COMMA'),'₫')}"></span>
									</div>
									<div class="add_to_cart">
										<a th:href="@{/web/cart}">+ thêm vào giỏ hàng</a>
									</div>
								</figcaption>
							</figure>
						</article>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--product area end-->

	<!--footer area start-->
	<footer th:replace="web/fragments/footer :: footer"></footer>
	<!--footer area end-->


	<!-- Modal cho trường hợp bản ghi đã tồn tại -->
	<div class="modal" id="cartExistsModal" tabindex="-1" role="dialog" aria-labelledby="cartExistsModalLabel"
		aria-hidden="true">
		<!-- Nội dung modal -->
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="cartExistsModalLabel">Thông báo</h5>
				</div>
				<div class="modal-body">
					Sản phẩm đã có trong giỏ hàng của bạn.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"><a href="?refresh=1">OK</a></button>

				</div>
			</div>

		</div>
	</div>

	<!-- Modal cho trường hợp bản ghi được thêm thành công -->
	<div class="modal" id="cartAddedModal" tabindex="-1" role="dialog" aria-labelledby="cartAddedModalLabel"
		aria-hidden="true">
		<!-- Nội dung modal -->
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="cartAddedModalLabel">Thông báo</h5>
				</div>
				<div class="modal-body">
					Sản phẩm đã được thêm vào giỏ hàng thành công.
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"><a href="?refresh=1">OK</a></button>
				</div>
			</div>

		</div>
	</div>



	<!-- Modal Report-->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div>
					<!-- Thêm ô input cho lý do báo cáo -->
					<textarea class="form-control border-0" id="reasonTextarea" rows="4"
						placeholder="Nhập lý do báo cáo"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
					<button type="button" class="btn btn-primary" id="add-report"
						th:idProduct="${product.id}">Gửi</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div id="success_tic" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<a class="close" href="#" data-dismiss="modal">&times;</a>
				<div class="page-body">
					<div class="head">
						<h3 style="margin-top:5px;">Đã gửi report tới admin</h3>
					</div>

					<h1 style="text-align:center;">
						<div class="checkmark-circle">
							<div class="background"></div>
							<div class="checkmark draw"></div>
						</div>
						<h1>
				</div>
			</div>
		</div>

	</div>

	<!-- JS
	
	
============================================ -->


	<div th:replace="web/fragments/script :: script"></div>
	<!-- JS
============================================ -->
	<script>
		$(document).ready(function () {
			$("#add-cart").on('click', function () {
				const id = $(this).attr('sid');
				const quantity = $('#quantity').val();
				$.ajax({
					url: "/add-cart",
					method: "POST",
					data: {
						id: id,
						quantity: quantity
					},
					success: function (dt) {

						if (dt === "CartEntryExists") {
							$('#cartExistsModal').modal('show');
						} else if (dt === "CartEntryAdded") {
							$('#cartAddedModal').modal('show');
						} else {
							console.error("Error: " + dt);
						}
					},
					error: function (dt) {
						console.error("Error: Không thể kết nối đến server.");

					}
				});
			});

			$("#add-report").on('click', function () {
				var reportContent = $("#reasonTextarea").val();
				const idProduct = $(this).attr('idProduct');
				$.ajax({
					type: "POST",
					url: "/add-report",
					data: {
						reportContent: reportContent,
						idProduct: idProduct
					},
					success: function (dt) {

						if (dt === "reportSuccess") {
							$('#success_tic').modal('show');
						}
					},
					error: function (error) {

						console.error(error);
					}
				});
				$("#exampleModal").modal("hide");
			});
		});
	</script>


</body>

</html>