<div th:fragment="sidebarVendor" id="layoutSidenav_nav">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<a class="nav-link" th:href="@{/admin/}">
					<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					Trang chủ
				</a>
				<a class="nav-link" th:href="@{/admin/customer}">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-address-card"></i></div>
					Thông tin khách hàng
				</a>
				<a class="nav-link " th:href="@{/admin/seller}">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-address-card"></i></div>
					Quản lý shop bán hàng
				</a>
				<a class="nav-link " th:href="@{/admin/order}">
					<div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
					Xem hóa đơn
				</a>
				<a class="nav-link " th:href="@{/admin/statistical}">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-chart-simple"></i></i></div>
					Thống kê
				</a>
				<a class="nav-link " th:href="@{/admin/commission}">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-money-check-dollar"></i></div>
					Tính phí hoa hồng
				</a>
				
				<a class="nav-link " th:href="@{/admin/report}">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-flag"></i></div>
					Quản lý report
				</a>
			
				<a class="nav-link " th:href="@{/}">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
					Thoát
				</a>
			</div>
		</div>
	</nav>
</div>